.Introduction {
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  font-family: 'Alegreya Sans';
  line-height: 1.618em;
  @media screen and (max-width: 49em) {
    font-size: 1.389em;
  }

  &-backLayer {
    background-color: #1992E8;
    @media screen and (max-width: 49em) {
      background-image: url(wieczysta-mobile.jpg);
    }
    @media screen and (min-width: 49em) {
      background-image: url(wieczysta.jpg);
    }
  }

  &-part {
    display: block;
    background: rgba(255,203,5, 1);
    margin: 1em 0;
    padding: 0.389em 0.618em;

    &--left {
      align-self: flex-start;
    }
    &--right {
      align-self: flex-end;
    }
  }
}
