@keyframes floater {
  0% { transform: translateY(0); }
  50% { transform: translateY(-1em); }
  100% { transform: translateY(0); }
}

.LogoSection {
  /* Defined in HTML.
  // position: relative;
  // background-color: #eee;
  // background-image: url('./shards_pattern.svg?inline');

  // Defined in HTML.
  // &-backgroundLightener {
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   padding: 1em;
  //   display: flex;
  //   position: absolute;
  //   align-items: center;
  //   flex-direction: column;
  //   justify-content: center;
  //   background: rgba(255,255,255,0.3);
  // }

  // Defined in HTML.
  // &-logo {
  //   margin: 1em;
  //   max-width: 800px;
  //   max-height: 100%;
  // }
  */

  &-more {
    position: absolute;
    left: 50%;
    bottom: 2em;
    margin-left: -2em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.618em 2em 0 2em;
    border-color: #009ba0 transparent transparent transparent;
    animation: floater 2s infinite;
  }
}
