.LogoSection {
  position: relative;
  background-color: #eee;
  background-image: url(shards_pattern.svg);

  &-backgroundLightener {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.3);
  }

  &-logo {
    max-width: 800px;
    max-height: 100%;
  }
}
