.MemorySection {
  flex: 1;
  display: flex;
  max-width: 100%;
  min-height: none;
  background: #009ba0;
  justify-content: space-around;
  padding: 1.618em;

  &-wrapper {
    @media screen and (max-width: 40em) {
      display: none;
    }
  }

  &-card {
    @media screen and (max-width: 40em) {
      font-size: 0.8em;
    }
  }

  &-explanation {
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: #fff;
    opacity: 0.5;
    transition: 0.5s; 

    &--hidden {
      opacity: 0;
    }
  }

  &-row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
