.MemorySection {
  background: #0F7F12;
  display: flex;
  flex: 1;
  justify-content: space-around;
  perspective: 99em;
  padding-bottom: 1.618em 1.618em 0;
  margin-bottom: -1em;
  max-width: 100%;

  &-card {
    @media screen and (max-width: 40em) {
      font-size: 0.8em;
    }
  }

  &-explanation {
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: #fff;
    opacity: 0.5;
    transition: 0.5s; 

    &--hidden {
      opacity: 0;
    }
  }

  &-row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
