.ProgrammeSection {
  background: #ffcb05;
  justify-content: center;
  align-items: stretch;

  &-board {
    flex: 1;
    margin: 3em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5em;
    flex-direction: column;
    border: 1em solid #9B6734;
    background: url('board.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0.5em #000, 0 0.2em 0.5em rgba(117, 76, 36, 0.5);
  }

  &-header {
    margin: 0.389em 0.618em 0;
    align-self: center;
    background: #fff;
    padding: 0.618em 1em;
    box-shadow: 0 0.2em 0.5em rgba(117, 76, 36, 0.5);
    transform: rotate(-3deg);
  }

  &-column {
    flex: 1;
    display: flex;
    margin: 0 0.618em;
    flex-direction: column;
    align-self: stretch;
  }

  &-time {
    display: block;
    font-weight: bold;
    margin-bottom: -0.389em;;
    font-size: 0.809em;
  }

  &-card {
    background: #fff;
    display: flex;
    align-self: flex-start;
    padding: 0 0.618em;
    flex-direction: column;
    margin-top: 1em;
    box-shadow: 0 0.2em 0.5em rgba(117, 76, 36, 0.5);

    h3 {
      margin-bottom: 0;
      font-size: 1.618em;
      margin-top: 0.618em;
    }

    &--lectures {
      transform: rotate(-1deg);
    }

    &--workshops {
      transform: rotate(2deg);
    }

    &--discussions {
      transform: rotate(-2deg);
    }

    &--project {
      transform: rotate(1deg);
    }

    &--disclaimer {
      background: #009ba0;
      color: #fff;
      font-weight: bold;
      display: block;
      flex: none;
      align-self: center;
      transform: rotate(1deg);
    }
  }

  @media screen and (max-width: 50em) {
    &-board {
      margin: 1em;
      padding: 1em;
    }

    &-column {
      margin: 0;
    }
  }
}
