.Card {
  &-container {
    perspective: 1000px;
  }

  display: flex;
  width: 9.708em;
  height: 14.07em;
  margin: 1.618em;
  position: relative;
  transition: 0.6s;
  align-items: stretch;
  border-radius: 0.389em;
  justify-content: center;
  transform: rotateY(0deg);
	transform-style: preserve-3d;

  &--red &-back { border-color: #CCA204; color: #CCA204; }
  &--blue &-back { border-color: #009ba0; color: #009ba0; }

  &--back { transform: rotateY(180deg); }

  &-front, &-back {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 0.389em;
    backface-visibility: hidden;
    img { max-width: 100%; border-radius: 0.618em; }
  }

  &-front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &-back {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #fff;
    pointer-events: none;
    transform: rotateY(180deg);

    &-wrapper {
      top: 0.32em;
      left: 0.32em;
      right: 0.32em;
      display: flex;
      bottom: 0.32em;
      padding: 0.32em;
      font-weight: bold;
      position: absolute;
      text-align: center;
      border: 1.5px solid;
      align-items: center;
      border-radius: 0.17em;
      justify-content: center;
    }
  }
}
