.ColumnsLayout {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;

  &-column {
    display: flex;
    flex: 1 0;
    justify-content: center;
  }

  @media screen and (max-width: 60em) {
    display: block;
    margin: 0 auto;
    &-column {
      text-align: center;
      display: flex;
      align-items: center;
      padding: 0 0.618em;
    }
  }
}
