.ColumnsLayout {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;

  &-column {
    display: flex;
    flex: 1 0;
    justify-content: center;
  }
}
