.VideoSection {
  display: flex;
  background: rgb(69,72,77);
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  justify-content: center;
  align-items: stretch;
  flex-direction: row;

  &-videoWrapper {
    width: 100%;
    height: auto;
    margin: 1.618em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 40em) {
      // max-width: 60em;
      margin: 2.618em;
    }
    @media screen and (min-width: 60em) {
      margin: 4.236em;
    }
    @media screen and (min-width: 80em) {
      max-width: 80em;
      margin: 6.854em;
    }
  }

  &-video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
