.AboutSection {
  height: 100vh;
  padding: 0 1.5em 0;

  &-backLayer {
    background-color: #009ba0;
    @media screen and (min-width: 49em) {
      background-image: url(reading_bible.jpg);
    }
  }

  &-computer {
    padding: 3em;
    max-width: 40em;
  }

  &-content {
    padding: 0 1.618em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    h3 {
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      font-family: 'Alegreya Sans';
      font-size: 2em;
    }

    p {
      line-height: 1.618em;
    }

    .lead { font-weight: bold; }
  }

  @media screen and (max-width: 40em) {
    height: initial;
    &-computer {
      margin-top: 1em;
      max-width: none;
      padding: 0;
      margin-bottom: 1em;
    }
  }
}
